*{
    box-sizing: border-box;
}
.box{
    height: 200px;
    width: 200px;
    background-color: purple;
}
.Header{
    background-color: #C3CFD9;
    width: 100%;
    height: 40px;
    top: 0;
    position: fixed;
    left: 0;
    text-align: center;
    color: #E8833A;
    font-size: 34px;
    margin-bottom: 200px
}
.margin{
    margin-top: 50px;
}
.White{
    color: #fff;
    
}
.MoviesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center;
}
.MovieImage{
    margin: 20px;
    height: 193px;
    width: 129px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 2, 4, 2));
}
.MovieSelectText{
    color: #293845;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.HourBox{
    width: 60px;
    background-color: #E8833A;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    padding: 5px;
}
.footer{
   
    left: 0px;
    bottom: 0px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
    width: 100%;
   
    padding: 20px;
    position: fixed;
}
.FooterImage{
    height: 72px;
    width: 48px;
}
.displayFlex{
    display: flex;
    justify-content: center;
}
.Roboto400{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #293845;
}
.HourBox:link{
    text-decoration: none;
}
.ALignCenter{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.marginLeft{
    margin-left: 10px;
    text-align: center;
}
.seats{
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 5px;
    cursor: pointer;
    font-size: 9px;
    align-items: center;
    letter-spacing: 0.04em;
   
}
.display{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
   
}
.seats2{
    background-color: #F7C52B;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 5px;

    cursor: pointer;
    text-align: center;
    font-size: 9px;
    align-items: center;
    letter-spacing: 0.04em;
    border: 1px solid #F7C52B;
}
.seats3{
    background-color: #1AAE9E;
    border-radius: 50%;
    border:1px solid #1AAE9E;
    width: 26px;
    margin: 5px;
    height: 26px;
    cursor: pointer;
    font-size: 9px;
}
.seatsSelect{
    background-color: #1AAE9E;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid #1AAE9E;
}
.seatsAvailable{
    background-color: #1AAE9E;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
}
.seatsNotAvailable{
    background-color: #F7C52B;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid #F7C52B;
}


.displayAndJustify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.descriptiontext{
    font-size: 9px;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: #E8833A;
    color: #fff;
    align-content: center;
    margin-top: 20px;
    width: 80%;
    height: 42px;
}
.Roboto700{
    color: #247A6B;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.center{
    margin-top: 50px;
    text-align: center;
}
.margin-rigth{
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.MolduraBranca{
    width: 64px;
height: 90px;
background-color: #fff;
align-items: center;
padding: 5px;
}
.DodisplayFlex{
    display: flex;
    margin-bottom: 0%;
}
.marginzero{
    margin-right: 20%;
    margin-top: 0%;
    line-height: 2px;
}
